        @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
        html,
        body {
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            height: 100%;
            width: 100%;
            background: #FFF;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            color: rgb(255, 255, 255);
        }
        
        .right {
            color: white;
            position: absolute;
            top: 5%;
            right: 5%;
            background-color: rgba(0, 0, 0, 0.596);
            width: 300px;
            height: 100px;
            margin: auto;
            border: 1px solid rgb(4, 46, 235);
            box-shadow: 0 0 5px rgb(4, 46, 235);
            outline: none;
        }